# Database Configuration
DB_HOST=db
DB_NAME=paycraft
DB_USER=postgres
DB_PASSWORD=Krishna@108
DB_PORT=5432

# Auth
JWT_SECRET=super_secret_key_change_me

# Mailtrap Credentials (REQUIRED for Email functionality)
# Get these from https://mailtrap.io/
SMTP_USER=your_mailtrap_user_id
SMTP_PASS=your_mailtrap_password